<html>
  <head></head>
  <body>
    <h1>Hello World</h1>
    <a href="/new">Create Blog</a>
    <h3>Links To different blog</h3>  
    <table> 
      <tr>
        <th>Title</th>
      </tr>
          <% for(var i=0; i<allblog.length; i++) { %>
            <tr>
              <td>
                <a href="/blog/<%= allblog[i].title %>"><%= allblog[i].title %></a>
              </td>
            </tr>
          <% } %>
    </table>
  </body>
</html>
<!-- method="POST" action="/blog" -->